    .grid {
        background-color: #ffffff;
        width: 100%;
        padding: 0.3em 0.02em 0 0.02em;
        margin: 0 0 0.5em 0;
        table-layout: fixed;
    }
    .grid * td {
        padding: 0.41em 0.2em 0.41em 0.3em;
        font-size: 0.85em;
        empty-cells: show;
        overflow: hidden;
        width: 100%;
        margin: 0;
    }

    .grid * td.expand {
        white-space: nowrap;
        overflow: hidden;
        empty-cells: show;
        width: 100%;
    }

    .grid * .expand * a {
        white-space: nowrap;
    }

    .subtext {
        white-space: nowrap;
    }

.threadlink:hover
{
   cursor: pointer;
}
